Problem 1: Unique Words in a Sentence
Problem Statement
Given a sentence, identify all unique words and display:
1. The count of unique words
2. The unique words themselves

In [1]:
# Sentence given
sentence = "python is easy and python is powerful"

# Split sentence into words
words = sentence.split()

# Remove duplicates using set
unique_words = set(words)

# Print result
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'python', 'is', 'and', 'powerful', 'easy'}

Problem 2: Highest Salary from Employee Data
Problem Statement
Store employee names and their salaries, and determine which employee has the highest
salary.

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_name = ""
highest_salary = 0

# Finding highest salary
for name in employees:
    if employees[name] > highest_salary:
        highest_salary = employees[name]
        highest_name = name

print("Highest Salary:", highest_name, "-", highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values
Problem Statement
Find the maximum and minimum values from a list of numbers.

In [3]:
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

# Loop through list
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold
Problem Statement
Count how many products have a price greater than 1000

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count = count + 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present = 0

for day in attendance:
    if day == "P":
        present = present + 1

percentage = (present / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers
Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to
remove duplicate phone numbers and display only the unique phone numbers.

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency
Problem Statement
Count how many times each character appears in a given string.

In [7]:
text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] = frequency[char] + 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple
Problem Statement
Convert a list into a tuple and display it.

In [8]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary
Problem Statement
Check whether a specific key exists in a dictionary.

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

Problem 10: Calculate Average Marks
Problem Statement
Calculate the average marks of a student from a list of marks.

In [10]:
marks = [70, 80, 65, 75]

total = 0

for m in marks:
    total = total + m

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5